.card img {
    display: block;
    width: 160px;
    height: 160px;
    border: 2px solid #fff;
    border-radius: 6px;
}

.card {
  position: relative;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media screen and (max-width: 710px) {
  .card img {
    width: 80px;
    height: 80px;
  }
}




